body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #003366;
    color: white;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.formulario {
    width: 320px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #69a7e2;
    border-radius: 12px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    background-color: #a6b4c1;
}

.formulario h2 {
    text-align: center;
    margin-bottom: 1em;
    color: #003366;
}

.formulario div {
    margin-bottom: 1em;
}

.formulario label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.formulario input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
}

.vista-imagen {
    text-align: center;
    margin-top: 1em;
}

.vista-imagen img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
}