
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.formulario {
    width: 320px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #69a7e2;
    border-radius: 12px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    background-color: #a6b4c1;
    text-align: center;
}

input[type="text"], input[type="email"], input[type="password"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #69a7e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #507caa;
}

#ver-imagen {
    display: block;
    margin-top: 10px;
    max-width: 100px;
    border-radius: 10px;
}
